---
layout: default
---
<h1 class="page-heading">{{ page.title }}</h1>

<div class="prefix-mods">
  <h2>Prefix Modifiers</h2>
  <ul class="mod-groups">
    {% for mod-group in page.prefix %}
    <li>
      {{ mod-group.name }}:
      <ul class="mods">
        {% for mod in mod-group.mods %}
        <li>
          {{ mod.name }}, lvl {{ mod.level }}: {{ mod.description }} ({{ mod.spawn_chance }})
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="suffix-mods">
  <h2>Suffix Modifiers</h2>
  <ul class="mod-groups">
    {% for mod-group in page.suffix %}
    <li>
      {{ mod-group.name }}:
      <ul class="mods">
        {% for mod in mod-group.mods %}
        <li>
          {{ mod.name }}, lvl {{ mod.level }}: {{ mod.description }} ({{ mod.spawn_chance }})
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>
